<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>#JnlgDoiContactForm# Settings</title>
        <title lang="de-DE">#JnlgDoiContactForm# Einstellungen</title>

        <component name="sw-snippet-field">
            <name>snippetField</name>
            <label>Confirmation Text</label>
            <snippet>jnlg-contact-form.confirm</snippet>
        </component>

        <component name="sw-snippet-field">
            <name>snippetField</name>
            <label>Allready Confirmed Text</label>
            <snippet>jnlg-contact-form.confirmed</snippet>
        </component>

        <component name="sw-snippet-field">
            <name>snippetField</name>
            <label>Error MEssage</label>
            <snippet>jnlg-contact-form.doesNotExist</snippet>
        </component>
    </card>
</config>